.slider {
    overflow: hidden;
    position: relative;
    border-radius: 8%;

    .slides {
        display: flex;
        transition: transform 0.5s ease;
    }

    .slide {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 12px 22px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        z-index: 1;
        border-radius: 50%;
    }

    .prev {
        left: 8px;
    }

    .next {
        right: 8px;
    }
}

.single-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}