<div id="page">
  <app-header></app-header>
  <div class="category-routes" >
    <div *ngFor="let category of categories" class="category-item" (click)="routeLink(category._id)">
      <span class="prod-img" >
        <img [src]="baseurl + category.imagepath" class="img-fluid" alt="Category Image" />
      </span>
      <a >{{ category.name }}</a>
    </div>
  </div>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>