.custom-about {
    padding: 20px; // Adjust as needed

    .custom-container {

        .custom-row {
            display: flex;

            .custom-sidebar {
                flex: 0 0 250px; // Sidebar width, adjust as needed

                .custom-navbar {
                }
            }

            .custom-content {
                flex: 1; 
                padding-left: 20px; 

                .custom-router-outlet {
                    // Add styles for router outlet content
                }
            }
        }
    }
}