<div class="custom-about">
  <div class="custom-container">
    <div class="custom-row">
      <div class="custom-sidebar">
        <div class="custom-navbar">
          <!-- Content of app-navbar component goes here -->
          <app-navbar></app-navbar>
        </div>
      </div>
      <div class="custom-content">
        <div class="custom-router-outlet">
          <!-- Content of router-outlet goes here -->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

